.flex-container-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: white;
	color: black;
	padding: 20px;
	align-items: baseline;
}
.flex-container-nav {
	display: flex;
	flex-direction: row;
	align-items: baseline;

}
li {
	list-style: none;
	margin-right: 20px;
}
.logo {
	align-self: baseline;

}
main {
	display: flex;
	flex-direction: column;

}
.first {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 250px;
	background-image: url(../banner.png);
	background-size: 100%;
	background-position: center;
	margin-top: 50px;
	color: white;
	padding: 20px;
	justify-content: center;
}
.first h5 {
	margin-top: -10px;
}
.advantage  {
	display: flex;
	justify-content: space-around;

}
.one, .two, .three {
	display: flex;
	flex-wrap: wrap;
	width: 25%;
	padding: 20px;
	align-items: flex-start;
	padding-right: 10px;
}
p {
	font-size: 14px;
	align-self: flex-start;
	margin-top: -5px;
}

.aboutmoon , .aboutplaces {
	display: flex;
	align-items: flex-start;
 justify-content: space-evenly;
 
 padding-top: 30px;
 padding-bottom: 30px;
 
}
.aboutmoon {
	background: #f3f5ff;
}
div .aboutmoon {
	display: flex;
}
.moon, .places {
 display: flex;
 flex-wrap: wrap;
 width: 30%;

}
.imagemoon {
	display: flex;

}
.aboutplaces {
	flex-direction: row-reverse;
}
.containerForm {
	max-width: 100%;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
	background: #f3f5ff;
	display: flex;
	justify-content: center;
}
.containerForm-header2, .containerForm-header1 {
	font-weight: bold;
	font-style: italic;
	
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
	color: #14D100;
}
.containerForm label {
	display: block;
	margin: 0px 0px 15px 0px;
}
.containerForm label > span {
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
fieldset {
	border: 1px solid #14D100;

}
.btn-2 {
	color: #5DE100;
	padding: 5px 20px;
	border: 1px solid #14D100;
	border-radius: 5px;
	margin-top: 10px;
}
.containerForm input {
	background: white;
	border-radius: 5px;
}
.containerForm select {
	display: block;
	margin: 0px 0px 15px 0px;
	font-weight: bold;
	border-radius: 5px;

 width: 110px;
 padding: 5px;
}
.containerForm p {
margin: 0px 0px 15px 0px;
	font-weight: bold;
	float: left;
	margin: 0px 15px 15px 0px;
}
footer {
	background: #606060;
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}