.flex-container-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: white;
	color: black;
	padding: 20px;
	align-items: baseline;
}
.flex-container-nav {
	display: flex;
	flex-direction: row;
	align-items: baseline;

}
li {
	list-style: none;
	margin-right: 20px;
}
.logo {
	align-self: baseline;

}
main {
	display: flex;
	flex-direction: column;

}
.first {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 250px;
	background-image: url(../banner.png);
	background-size: 100%;
	background-position: center;
	margin-top: 50px;
	color: white;
	padding: 20px;
	justify-content: center;
}
.first h5 {
	margin-top: -10px;
}
.advantage  {
	display: flex;
	justify-content: space-around;

}
.one, .two, .three {
	display: flex;
	flex-wrap: wrap;
	width: 25%;
	padding: 20px;
	align-items: flex-start;
	padding-right: 10px;
}
p {
	font-size: 14px;
	align-self: flex-start;
	margin-top: -5px;
}

.aboutmoon , .aboutplaces {
	display: flex;
	align-items: flex-start;
 justify-content: space-evenly;
 
 padding-top: 30px;
 padding-bottom: 30px;
}
.aboutmoon {
	background: #f3f5ff;
}
div .aboutmoon {
	display: flex;
}
.moon, .places {
 display: flex;
 flex-wrap: wrap;
 width: 30%;

}
.imagemoon {
	display: flex;

}
.aboutplaces {
	flex-direction: row-reverse;
}