
	.flex-container-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background: white;
	color: black;
	padding: 5px 20px;
	align-items: baseline;

}
.flex-container-nav ul {
	display: flex;
	flex-direction: row;
	align-items: baseline;

}
.flex-container-nav a {
	text-decoration: none;
	color: black;
}
li {
	list-style: none;
	margin-right: 20px;
}
.logo {
	align-self: baseline;

}
.logo span {
	font-family: font-family: Geneva, Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
	
main {
	display: flex;
	flex-direction: column;
}

.first {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 250px;
	background-image: url(../banner.png);
	background-size: 1800px 800px;
	background-position: center;
	margin-top: 50px;
	color: white;
	padding: 20px;
	justify-content: center;

}
.first h5 {
	margin-top: -15px;
}
 h1, h2, h3, h4, h5 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.first input {
	background: none;
	border-radius: 5px;
	color: white;
	padding: 5px;
}
.first img {
	padding-top: 20px;
}
section {
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.advantage  {
	display: flex;
	justify-content: space-around;


}
.one, .two, .three {
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	padding: 20px;
	align-items: flex-start;
	padding-right: 10px;
}
p {
	font-size: 14px;
	align-self: flex-start;
	margin-top: -5px;
}

.aboutmoon , .aboutplaces {
	display: flex;
	align-items: flex-start;
 justify-content: space-evenly;
 
 padding-top: 30px;
 padding-bottom: 30px;
 width: 90%;

}
.aboutmoon {
	background: #f3f5ff;

}
div .aboutmoon {
	display: flex;
}
.moon, .places {
 display: flex;
 flex-wrap: wrap;
 width: 30%;

}
.imagemoon {
	display: flex;

}
.aboutplaces {
	flex-direction: row-reverse;
}

.containerForm {
	max-width: 100%;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
	background: #f3f5ff;
	display: flex;
	justify-content: center;
}
.containerForm-header2, .containerForm-header1 {
	font-weight: bold;
	font-style: normal;
	
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 5px;
	color:rgb(0,255,204);

}
.containerForm label {
	display: block;
	margin: 0px 0px 15px 0px;
}
.containerForm label > span {
	width: 200px;
	font-weight: bold;
	float: left;
	padding-top: 5x;
	padding-right: 5px;
}
fieldset {
	border: 1px solid rgb(0,255,204);

}
.btn-2 {
	color: rgb(0,255,204);
	padding: 5px 20px;
	border: 1px solid rgb(0,255,204);
	border-radius: 5px;
	margin-top: 10px;
}
.containerForm input {
	background: white;
	border-radius: 7px;
}
.containerForm select {
	display: block;
	box-sizing: border-box;
	margin: 0px 0px 15px 0px;
	font-weight: bold;
	border-radius: 7px;
    width: 130px;
    padding: 5px;
}

.containerForm p {
margin: 0px 0px 15px 0px;
	font-weight: bold;
	float: left;
	margin: 0px 15px 15px 0px;
}
footer {
	background: #606060;
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}
footer li {
	list-style: disc;
}
.imagemoon img {
	width: 280px ;

}
.logo img, .logo2 img {
	width: 20px;
    height: 20px;

}
.logo2 span {
	 padding-left: 10px;
}
footer a {
	color: white;
	text-decoration: none;
}
.first img {
	width: 120px;
}
.imagecosmos img {
	width: 280px;
}
footer p {
	padding-top: 20px;
	font-size: 10px;
}
